@model Application.Dtos.TourServices.EditTourServicesDto

@{
    ViewData[AppConstants.ViewDataTitlePageName] = UIElements.Edit;
    ViewData[AppConstants.ViewDataControllerName] = UIElements.TourServiceList;
    ViewData[AppConstants.ViewDataControllerRoute] = "TourServices";
}

<div class="card">
    <div class="card-body">
        <form method="post"
              asp-controller="TourServices" asp-action="Edit">

            <div asp-validation-summary="All"
                 class="text-danger">
            </div>


            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="FaTitle"></label>
                        <input class="form-control" asp-for="FaTitle" />
                    </div>
                    <div class="form-group">
                        <label asp-for="FaDescription"></label>
                        <textarea rows="5" class="form-control" asp-for="FaDescription"></textarea>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="EnTitle"></label>
                        <input class="form-control" asp-for="EnTitle" />
                    </div>
                    <div class="form-group">
                        <label asp-for="EnDescription"></label>
                        <textarea rows="5" class="form-control" asp-for="EnDescription"></textarea>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ArTitle "></label>
                        <input class="form-control" asp-for="ArTitle" />
                    </div>
                    <div class="form-group">
                        <label asp-for="ArDescription"></label>
                        <textarea rows="5" class="form-control" asp-for="ArDescription"></textarea>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="AfTitle"></label>
                        <input class="form-control" asp-for="AfTitle" />
                    </div>
                    <div class="form-group">
                        <label asp-for="AfDescription"></label>
                        <textarea rows="5" class="form-control" asp-for="AfDescription"></textarea>
                    </div>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-3 form-group">
                    <label asp-for="Price"></label>
                    <input class="form-control" asp-for="Price" />
                </div>
            </div>

            <div class="row">
                <div class="col form-group">
                    <button type="submit" class="btn btn-block btn-warning">@UIElements.Edit</button>
                </div>
            </div>

        </form>
    </div>
</div>
@section Scripts
    {

        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
