@using Kendo.Mvc.UI

@using Application.Dtos.Application
@using Application.Dtos.TourServices
@{
    ViewData[AppConstants.ViewDataTitlePageName] = $"{UIElements.TourServiceList} {ViewData["cName"]}";
}

@section Styles{
    <link href="~/lib/Kedno/Css/kendo.common.min.css" rel="stylesheet">
    <link href="~/lib/Kedno/Css/kendo.default.min.css" rel="stylesheet">
    <style>
        .k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child,
        .k-grid-header th.k-header:first-child {
            border-left-width: 1px !important;
        }

        .k-grouping-header {
            text-align: center;
        }

        #grid .k-grid-header .k-header {
            font-weight: bold;
        }

        .co-img {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-size: 55px 60px;
            background-position: center center;
            vertical-align: middle;
            line-height: 32px;
            box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0,0,0,.2);
            margin-left: 5px;
            background-repeat: no-repeat;
        }

        .co-name {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
            padding-left: 3px;
        }
    </style>
}

    <script src="~/lib/Kedno/Js/kendo.all.min.js" asp-append-version="true"></script>
    <script src="~/lib/Kedno/Js/kendo.aspnetmvc.min.js" asp-append-version="true"></script>

@if(TempData[AppConstants.TempDataMessageTitle] != null)
    {

        <partial name="_PartialNotificationDivision" model="new NotificationDto(Convert.ToBoolean(TempData[AppConstants.TempDataMessageTitle]!.ToString()!.Split('~')[1].Trim()),
        TempData[AppConstants.TempDataMessageTitle]!.ToString()!.Split('~')[0].Trim())" />
    }

<div id="error-area" class="alert alert-danger">
    <ul id="error_list">
    </ul>
</div>


<div class="k-rtl">
    @(Html.Kendo().Grid<TourServiceListItemDto>()
    .Name("grid")
    .Columns(columns =>
    {
        columns.Bound(tourService => tourService.Title);
        columns.Bound(tourService => tourService.Description);
        columns.Bound(tourService => tourService.Id)
            .ClientTemplate($"<a class='btn btn-warning text-white' href='{Url.Action("Edit")}/#:Id#'>{UIElements.Edit}</a>")
            .Width(20)
            .ClientHeaderTemplate(" ")
            .Filterable(false)
            .Sortable(false);
    })
    .ToolBar(toolbar =>
    {
    toolbar.ClientTemplate($"<a class='btn btn-success text-white' href='{Url.Action("Create")}'>{UIElements.AddNewTourService}</a>");
    })
    .Selectable(select =>
    select.Mode(GridSelectionMode.Single).Type(GridSelectionType.Row))
    .Sortable()
    .Filterable()
    .Pageable(pageable => pageable
    .ButtonCount(5)
    .Refresh(true)
    .PageSizes(true))
    .DataSource(dataSource => dataSource
    .Ajax()
    .Events(events => events.Error("error_handler")
    .RequestStart("show_preLoader")
    .RequestEnd("hide_preLoader"))
    .Model(model =>
    {
    model.Id(countryItem => countryItem.Id);
    model.Field(countryItem => countryItem.Id).Editable(false);
    })
    .Read(read => read.Action("GetTourServices", "TourServices",new{cId = ViewData["cId"]}).Type(HttpVerbs.Post))
    
    )
    .Resizable(resize => resize.Columns(true)))
</div>

<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            $.each(e.errors, function(key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function() {
                        $("#error_list").append(`<li>${this}</li>`);
                    });
                }
            });
            $("#error-area").show();
        }
    }

    function show_preLoader() {
        $(".preloader").show();
        $("#error_list").html('');
        $("#error-area").hide();
    }

    function hide_preLoader() {
        $(".preloader").hide();
    }

</script>

<script src="~/lib/jquery/jquery.unobtrusive-ajax.js" asp-append-version="true"></script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
