@{
    ViewData[AppConstants.ViewDataTitlePageName] = @UIElements.Dashboard;
}


<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-7">
                        <i class="mdi mdi-beach font-20 text-info"></i>
                        <p class="font-16 m-b-5">تور</p>
                    </div>
                    <div class="col-5">
                        <h1 class="font-light text-right mb-0">23</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-7">
                        <i class="mdi mdi-hotel font-20 text-success"></i>
                        <p class="font-16 m-b-5">هتل</p>
                    </div>
                    <div class="col-5">
                        <h1 class="font-light text-right mb-0">169</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-7">
                        <i class="mdi mdi-airplane font-20 text-purple"></i>
                        <p class="font-16 m-b-5">پرواز</p>
                    </div>
                    <div class="col-5">
                        <h1 class="font-light text-right mb-0">157</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-7">
                        <i class="mdi mdi-book-open-variant font-20 text-danger"></i>
                        <p class="font-16 m-b-5">مقالات</p>
                    </div>
                    <div class="col-5">
                        <h1 class="font-light text-right mb-0">236</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>